@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


$bg_default: #1D2123;
$bg_dark: #1A1E1F;
$header_color: #EFEEE0;
$header_size: 24px;
$title_color: #A4C7C6;
$active_yellow_secondary: #FACD66;
$sm_title_color: #FFFF;
$sm_title_size: 17px;
$like_border_color: rgba(255, 255, 255, 0.11);
$duration_color: #FFFF;
$artiste_color: rgba(255, 255, 255, 0.5);
$artiste_color_music_bar: rgba(255, 255, 255, 0.44);
$placeholder_color: rgba(255, 255, 255, 0.25);
$musicbar_container_height: 130px;
$sidebar_container_width: 120px;
$topbar_container_height: 100px;
$chart_container_bg: #1A1E1F;
$backdrop_filter_blur: blur(3px);

$font_quick_sand: 'Quicksand', sans-serif;

@mixin title() {
  // font-weight: 700;
  // font-size: $size_extraLarge;
  // color: $color_black;
  // line-height: 30px;
  // letter-spacing: -0.3px;
}
