@import "./base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font_quick_sand;
}

body {
  background-color: $bg_default;
  color: $sm_title_color;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.4px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

#LAYOUT_CONTENT {
  height: 100vh;
  max-height: 100vh;
}

#MAIN_CONTENT {
  display: flex;
  height: 100vh;
  max-height: 100vh;
}

#APP_CONTENT {
  overflow: auto;
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}

#TOPBAR_CONTAINER {
  width: calc(100vw - $sidebar_container_width);
  height: $topbar_container_height;
  display: flex;
  align-items: center;
  padding: 0 2vw;
}

#CHILDREN {
  overflow: auto;
  height: 100vh;
}

.search-bar-ctn {
  display: flex;
  position: relative;
  height: 80%;
  #SEARCH_BAR {
    background-color: transparent;
    border: none;
    outline: inherit;
    position: absolute;
    inset: 0;
    width: 40%;
    min-width: 400px;
    padding-left: 35px;
    height: 100%;
    color: $sm_title_color;
    &::placeholder {
      color: $placeholder_color;
    }
  }
  label {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.container-header {
  font-size: $header_size;
  color: $header_color;
  font-weight: 700;
  margin-bottom: 20px;
}

.chart-container {
  width: 35%;
  max-width: 550px;
  min-width: 400px;
  .chart-cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.sm-title {
  font-size: $sm_title_size;
  color: $sm_title_color;
  margin-bottom: 5px;
}
































// others
#CONTAINER_SPINNER {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #474bff);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
