@import "./base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font_quick_sand;
}

body {
  background-color: $bg_default;
}

#LAYOUT_CONTENT {
  height: 100vh;
}

#MAIN_CONTENT {
  display: flex;
}

#SIDEBAR_CONTAINER {
  width: $sidebar_container_width;
  height: calc(100vh - $musicbar_container_height);
  left: 0;
  // border: 1px solid grey;
  display: flex;
  justify-content: center;
  padding: 30px;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    .top {
      height: 90px;
    }
    nav {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .section {
        width: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        background-color: $bg_dark;
        padding: 25px 15px;
        border-radius: 30px;
        div {
          cursor: pointer;
          &:hover * {
            color: $active_yellow_secondary;
          }

          &:hover svg path {
            fill: $active_yellow_secondary;
            fill-opacity: 1;
          }
        }
        .active * {
          color: $active_yellow_secondary;
        }
        .active svg path {
          fill: $active_yellow_secondary;
          fill-opacity: 1;
        }
      }
    }
  }
}

#MUSICBAR_CONTAINER {
  bottom: 0;
  width: 100vw;
  height: $musicbar_container_height;
  // border: 1px solid grey;
}

#TOPBAR_CONTAINER {
  top: 0;
  width: calc(100vw - $sidebar_container_width);
  height: $topbar_container_height;
  // border: 1px solid grey;
}

#CHILDREN {
  height: calc(100vh - ($topbar_container_height + $musicbar_container_height));
  overflow-y: auto;
}

// others
#CONTAINER_SPINNER {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #474bff);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
