.newReleases {
  display: flex;
  gap: 2vw;
  overflow: auto;
  .newRelease {
    // transition: 0.3s;
    // &:hover {
    //   transform: scale(1.05);
    // }
    > .img {
      border-radius: 30px;
      overflow: hidden;
      margin-bottom: 5px;
    }
    p {
      font-weight: 300;
    }
  }
}