@import "./base";

#SIDEBAR_CONTAINER {
  min-width: $sidebar_container_width;
  height: 100vh;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 30px;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    .top {
      height: 90px;
    }
    nav {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .section {
        min-width: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        background-color: $bg_dark;
        padding: 25px 15px;
        border-radius: 30px;
        div {
          cursor: pointer;
          a {
            display: flex;
            gap: 30px;
            text-decoration: none;
            color: rgba($header_color, 0.25);
          }
          &:hover * {
            color: $active_yellow_secondary;
          }

          &:hover svg path {
            fill: $active_yellow_secondary;
            fill-opacity: 1;
          }
        }
        .active * {
          color: $active_yellow_secondary;
        }
        .active svg path {
          fill: $active_yellow_secondary;
          fill-opacity: 1;
        }
      }
    }
  }
}